---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout
  title="About Minute Reads"
  description="Quick and insightful book summaries"
  pubDate={new Date('2025-04-04')}
  heroImage="/hero image about minute reads.jpg"
>

  <p style="margin-top: 1rem;"><strong>Contact us:</strong> <a href="mailto:team@brainymedia.com">team@brainymedia.com</a></p>

 <strong></strong>
 <p>We were sick and tired of spending hours reading books just to learn something that could have been summarized in a few paragraphs, so we decided to create minutereads.io to fix that.</p>

  <p>Minute Reads helps you <strong>learn more in less time</strong> by delivering quick, high-quality book summaries that save you hours. Our mission is to make knowledge more accessible by condensing the best ideas from books across business, self-improvement, and productivity into easy-to-digest reads.</p>

  <p>But we’re just getting started.</p>

  <p>Our long-term goal is to become the go-to platform for summarizing <strong>all forms of content</strong>—not just books. This includes:</p>

  <ul>
    <li><strong>University textbooks</strong></li>
    <li><strong>Research papers</strong></li>
    <li><strong>Podcasts</strong></li>
    <li><strong>Financial documents</strong></li>
  </ul>

  <p>Whether you're a student, professional, investor, or curious mind, Minute Reads is here to help you <strong>stay informed, save time, and learn fast</strong>.</p>

