---
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/books" />
    <meta name="robots" content="noindex">
    <title>Redirecting to /books...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/books">/books</a>...</p>
  </body>
</html>
